.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.border {
  border: 2px solid red !important;
}
.btn {
  background-color: #ef5959;
  border: none;
}
.company-logo {
  text-align: center;
}
.company-logo img {
  object-fit: contain;
}
.navbar {
  margin-left: 56px;
  max-height: 56px;
}
.side-bar {
  max-width: 56px;
  background-color: #404346;
  height: 100%;
}
.head-text {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Cochin, Georgia, Times, serif;
}

<<<<<<< HEAD
.sidenav-menu {
  padding-top: 20px !important;
  padding-left: 80px !important;
}
=======
/* Style the search box inside the navigation bar */
.search-container {
position: relative;
margin: auto;

}
.search-container input[type=text] {
    padding: 6px;
    margin-top: 0px;
    font-size: 17px;
    border: 1px solid grey;
    width: 450px;
    border-radius: 40px;
    margin-bottom: 8px;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-left: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}
 .search-container button:hover {
     background: #ccc;
     border:none;
 }
>>>>>>> 633aa1d5f23f537157f4dc4fd58d197daa8e72d1
